body {
    background-attachment: fixed;
    background-color: #FFFFFF;
    background-image: url(/static/images/css-background-clear.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    color: #A90123;
    margin: 20;
    padding: 20;
	test-align: center;
	}

	#page {
		width: 960px;
		test-align: left;
		margin: 10px auto 20px auto;
		backgroun-color: #0c0c0c;
	}

	#sidebar {
		float: left;
		width: 200px;
		border: 0px solid #000;
	}

	#content {
		float: left;
		width: 600px;
		border: 1pm solid #f00;
		padding: 10px;
	}



